h1, h2, h3, h4, h5, h6, p {
    font-family: Kanit, sans-serif;
    color: #cdc4d3;
}
.altele {
    color: #0dcaf0;
}
.text-ro {
  list-style-type: none;
  cursor: pointer;
}
.ro {
    color: rgba(221, 225, 161, 0.98);
}
.en {
    color: #cdfff9;
}